
body {
    /* margin: 0; */
    background-image: url('./images/background.jpg');
    min-height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    color: white;
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    font-family: 'Merriweather', serif;
}

/* -----------------------Event Form------------------------- */

.searchForm {
    margin: 0 auto;
    width: 580px;
    margin-top: 64px;
    padding: 20px;
    border: 0px solid gray;
    /* backdrop-filter: blur(10px);
    box-shadow: inset 0 0 2000px rgb(255 255 255 / 50%); */
    /* background-color: rgba(255, 255, 255, 0.3); */
    background-color: rgba(255, 255, 255, .2);
    backdrop-filter: blur(10px);
    border-radius: 20px;
}

.searchForm .heading {
    text-align: center;
    font-size: 30px;
}

.searchForm .contents :is(input, select) {
    width: 100%;
    border-radius: 5px;
    background: none;
    padding: 5px;
    border: 1px solid #fff;
    margin: 5px 0px;
    color: white;
}

.searchForm .contents .submit {
    padding: 12px 27px;
    border-radius: 7px;
    /* background-color: #FAAC06; */
    border: 0px;
    color: white;
    background-color: #f1a200;
    border-bottom: 4px solid #f15900fc;
}

.searchForm .contents .clear {
    padding: 12px 27px;
    border-radius: 7px;
    /* background-color: #008CBA; */
    border: 0px;
    color: white;
    background-color: #4562A5;
    border-bottom: 4px solid #2D416D;
}

.searchForm .contents .submit:hover {
    background-color: #f5b737;
}

.searchForm .contents .clear:hover {
    background-color: #6c7da5;
}

.searchForm .star {
    color: red;
}

.searchForm .contents label {
    color: #93e4ff;
}

.searchForm .contents table td {
    padding: 0px 25px 0px 0px;
}


/* -------------------------Event List------------------------ */

.eventList {
    text-align: center;
}

.eventTable {
    margin: 42px auto 0 auto;
    width: 1000px;
    border-spacing: 0px;
}

.eventTable th {
    background-color: white;
    color: black;
    padding: 10px 0px;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.2);
    position: relative;
}

.eventTable td {
    text-align: center;
    background-color: white;
    color: black;
    padding: 10px 0px;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

.eventTable th:has(a){
    text-decoration: none;
    cursor: pointer;
}

.eventTable td a{
    text-decoration: none;
}

.eventTable td a:hover {
    color: #0674fa;
    cursor: pointer;
}


/* --------------------------Event details--------------------------- */

.eventDetails {
    margin: 100px auto 0 auto;
    width: 835px;
    height: 435px;
    margin-top: 64px;
    padding: 31px;
    border: 0px solid gray;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 20px;
}

.eventDetails .heading {
    text-align: center;
    font-size: 30px;
    margin-bottom: 25px;
}

.eventDetails .textContent {
    width: 438px;
}
.eventDetails .textContent .subheading {
    font-size: 19px;
    color: #6af9f8;
}

.eventDetails .textContent .text {
    margin-bottom: 12px;
    font-size: 14px;
    margin-top: 3px;
}

.eventDetails .textContent .text a{
    color: #0674fa;
}

.eventDetails .textContent .text .ticketStatus{
    /* background: green; */
    padding: 5px;
    border-radius: 5px;
}
.eventDetails .imageContent{
    /* zoom: 0.4; */
    text-align: center;
}

.eventDetails .imageContent img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.eventDetails .arrowVenue{
    font-size: 22px;
    margin-top: 41px;
}

.eventDetails .arrowVenue .downArrow{
    border: 1px solid white;
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
    border-top: 0px;
    border-left: 0px;
    cursor: pointer;
}

/* --------------------------Event details--------------------------- */

.venueDetails {
    /* margin-top: 25px; */
    background: white;
    /* margin: 0 auto;
    width: 513px; */
    margin: 25px auto 0 auto;
    width: 821px;
    /* height: 435px; */
    /* margin-top: 64px; */
    padding: 10px 31px 31px 31px;
    border: 1px solid black;
    /* backdrop-filter: blur(10px); */
    /* background-color: rgba(255, 255, 255, 0.3); */
    border-radius: 11px;
    outline: 7px solid white;
    outline-offset: 0px;
    color: black;
}

.venueDetails .heading {
    text-align: center;
    font-size: 30px;
    margin-bottom: 35px;
}

.venueDetails .heading .underline {
    border-bottom: 1px solid black;
    padding: 0px 10px;
}

.venueDetails .imageContent {
    text-align: center;
}

.venueDetails .imageContent img {
    width: auto;
    height: 80px;
    padding: 7px;
    /* object-fit: cover; */
}

.venueDetails .mainTable {
    /* margin: 0 auto; */
    width: 100%;
    /* border-spacing: 151px 0px; */
}

.venueDetails .mainTable .leftColumn {
    width: 50%;
    /* padding-right: 90px; */
    border-right: 1px solid grey;
}

.venueDetails .mainTable .leftColumn table {
    margin: 0 auto;
}

.venueDetails .mainTable .leftColumn .gmap {
    text-align: center;
}


.venueDetails .mainTable .rightColumn {
    /* padding-left: 95px; */
    vertical-align: top;
    text-align: center;
}

.venueDetails a {
    text-decoration: none;
    color: #0674fa;
}
